
h2 {
    font-family: Poppins, serif;
    font-size: x-large;
    padding-left: 30px;
}
table {
    justify-content: center;
    display: flex;
    font-family: 'Poppins', serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    width: 35vh;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}