.cabecalho > h2 {
    padding-left: 10px;
    font-size: x-large;
    color: gray;
}

.flex {
    display: flex;
    height: 200px;
    padding-top: 100px;
    justify-content: center;
    gap: 20px; /* Adiciona espaço entre os divs */
}

.flex > div {
    position: relative; /* Necessário para o pseudo-elemento */
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 2px solid black;
    border-radius: 5%;
    overflow: hidden; /* Garante que o pseudo-elemento não saia do div */
}

/* Pseudo-elemento para adicionar a imagem de fundo com opacidade */
.flex > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.75; /* Ajuste da opacidade */
    z-index: 1; /* Fica atrás do conteúdo do div */
}

/* Especifique uma imagem para cada div individualmente */
.button-agendar::before {
    background-image: url('../rsrc/medico.jpg'); /* Adicione o caminho da imagem aqui */
}

.button-gerenciar::before {
    background-image: url('../rsrc/gerirconsulta.png'); /* Adicione o caminho da imagem aqui */
}

.button-requisitar::before {
    background-image: url('../rsrc/exame.png'); /* Adicione o caminho da imagem aqui */
}

.button-pacientes::before {
    background-image: url('../rsrc/ficha.png'); /* Adicione o caminho da imagem aqui */
}

.button-alterar::before {
    padding-top:10px;
    background-image: url('../rsrc/gerirexame.png'); /* Adicione o caminho da imagem aqui */
}

.button-gerenciar-medicos::before {
    background-image: url('../rsrc/gerirmedicos.jpg'); /* Adicione o caminho da imagem aqui */
}

/* Estilo do link e botão interno */
.flex > div > a {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da imagem de fundo */
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    height: 200px;
    width: 200px;
}

.flex > div > a > input {
    background: none;
    border: none;
    color: black;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 190px;
}
.bottom > input{
    margin-bottom: 20px;
    font-weight: 0;
    display: flex;
    width: 18vw;
    height: 7vh;
    border-radius: 10px;
    background: red;
    border: none;
    font-size: x-large;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    align-self: flex-end;
}