.header > h1{
    font-size: xxx-large;
    background: #3dff33;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', serif;
    font-weight: normal;
}

.cabecalho > h2 {
    font-size: x-large;
    color: gray;
}

.flex {
    display: flex;
    height: 200px;
    padding-top: 100px;
    justify-content: center;
}

.flex > div {
    background: gray;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 2px solid black;
    border-radius: 5%;
}

.flex > div > a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    justify-items: start;
    height: 200px;
    width: 200px;
}

.flex > div > a > input {
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}